// Import page-specific CSS files here.
@import "home";

.heart {
  color: rgb(136, 134, 134);
}

.heart:hover,
.heart.active {
  color: lightpink;
}

.card-img-top {
  border-radius: 50;
}

a {
  text-decoration: none;
  color: #000;
}

.product-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.card-map {
  border-radius: 20px;
  border-color: grey;
  border-width: 2px;
}
