<div> <h1>test buna seara</h1>
<h2><%= @booking.total_price = (@booking.end_date.day - @booking.start_date.day) * @bike.price %></h2>
</div>

<%= link_to "Delete",
  booking_path(@booking),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
