<div>
  <ul>
    <% @bikes.each do |b| %>
      <%#= b.brand %> <%# could be improved one day this week 20.02.2023 %>
      <%= link_to b.brand, bike_path(b) %>
    <% end %>
  </ul>
</div>

<%#= cl_image_tag("jyao2rntpihyjmlv53j0",
      width: 400, height: 300, crop: :fill) %>
