<div class="row">
  <% @bikes.each do |b| %>
    <div class="col-md-4">
      <div class="card mb-4">
          <%#= b.brand %> <%# could be improved one day this week 20.02.2023 %>
          <%#= link_to b.brand, bike_path(b) %>
          <%= cl_image_tag b.photo.key,
          width: 400, height: 300, crop: :fill %>
      </div>
    </div>
  <% end %>
</div>
